:root {
  --primary: #1e88e5;
  --dark-primary: #0058b5;
  --warna-latar: #f9f9f9;
  --dark: #263238;
  --light-gray: #aeaeae;
  --light: #f5f5f5;
  --success: #4caf50;
  --error: #f44336;
  --info: #2196f3;
  --warning: #ffc107;
  --skeleton: #e0e0e0;
  --dark-gray: #6f6f6f;
  --warna-link: #0080ff;
  --warna-link-hover: #0056b3;
  --warna-header: #333;
  --warna-footer: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark);
  background-color: var(--warna-latar);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--dark-primary);
}

footer {
  background-color: var(--warna-footer);
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
